DATABASE_URL="mysql://root:root@127.0.0.1:3306/template1"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="3306"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="template1"
NEWS_API_URL="https://newsapi.org/v2/"
NEWS_API_KEY="dadf"
JWT_SECRET="adsfasd#$!$@"